@page "/CreateSale"
@using SEP3_Tier1.Data
@using SEP3_Tier1.Models
@inject ISaleService SaleService

<h3>CreateSale</h3>

<EditForm Model="@bookSaleNoId">
    <DataAnnotationsValidator/>


    <div class="form-group">
        Book Title: <br/>
        <InputText @bind-Value="bookSaleNoId.title"/>
        <ValidationMessage For="() => bookSaleNoId.title"/>
    </div>
    <div>
        Author: <br/>
        <InputText @bind-Value="bookSaleNoId.author"/>
        <ValidationMessage For="() => bookSaleNoId.author"/>
    </div>
    <div>
        Edition: <br/>
        <InputText @bind-Value="bookSaleNoId.edition"/>
        <ValidationMessage For="() => bookSaleNoId.edition"/>
    </div>
    <div class="form-group">
        Condition: <br/>
        <InputSelect @bind-Value="bookSaleNoId.condition">
            @foreach (var condition in conditions)
            {
                <option>@condition</option>
            }
        </InputSelect>
        <ValidationMessage For="() => bookSaleNoId.condition"/>
    </div>
    <div>
        Subject: <br/>
        <InputText @bind-Value="bookSaleNoId.subject"/>
        <ValidationMessage For="() => bookSaleNoId.subject"/>
    </div>
    <div>
        Image: <br/>
        <InputText @bind-Value="bookSaleNoId.image"/>
        <ValidationMessage For="() => bookSaleNoId.image"/>
    </div>
    <div>
        <input type="checkbox" @onchange="eventArgs => { CheckBoxClicked(eventArgs.Value); }"/>Hard Copy<br/>
    </div>
        <div>
            Description: <br/>
            <InputTextArea @bind-Value="bookSaleNoId.description"/>
            <ValidationMessage For="() => bookSaleNoId.description"/>
        </div>
    <div>
        Price: <br/>
        <InputNumber @bind-Value="bookSaleNoId.price"/>
        <ValidationMessage For="() => bookSaleNoId.price"/>
    </div>


    <p class="action">
        <br/>
        <button class="btn btn-primary" @onclick="SaveSale">
            Create Sale
        </button>
    </p>

</EditForm>

@code {

    //Branch Created?

    private BookSaleNoID bookSaleNoId;
    private IList<string> conditions;

    private void CheckBoxClicked(object checkedValue)
    {
        if ((bool) checkedValue)
        {
            bookSaleNoId.hardCopy = true;
        }
        else
            bookSaleNoId.hardCopy = false;
    }


    private async Task SaveSale()
    {
        await SaleService.CreateBookSale(bookSaleNoId);
        Console.WriteLine(bookSaleNoId.ToString());
    }

    protected override async Task OnInitializedAsync()
    {
        bookSaleNoId = new BookSaleNoID(){username = "Magic Fish"};
        conditions = new List<string>()
        {
            "",
            "Mint",
            "Good",
            "Used",
            "Bad"
        };
        
    }

    // Todo figure out how to send images through tiers


}