@page "/CreateSale"
@using SEP3_Tier1.Data
@inject ISaleService SaleService

<h3>CreateSale</h3>

<EditForm Model="@item" OnValidSubmit="@SaveSaleToFile">
    <div class="form-group">
        Item:
        <InputText @bind-Value="item"/>
    </div>
    
    <p class="action">
        <button class="btn" type="submit">Add Item</button>
    </p>

</EditForm>

@code {

    private string item = new string("");


    private void SaveSaleToFile() {
        SaleService.AddSaleAsync(item);
        Console.WriteLine(item);
    }

}