@page "/SalesList"
@using SEP3_Tier1.Data
@using SEP3_Tier1.Models
@inject ISaleService SaleService

<h3>SalesList</h3>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Data</th>
        </tr> 
        </thead>
        <tbody>
        @foreach (var item in salesToShow) {
            <tr>
                <td>@item</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code{


    private IList<BookSale> allSales = new List<BookSale>();
    private IList<BookSale> salesToShow = new List<BookSale>();

    protected override async Task OnInitializedAsync() {
        BookSale itemToShow = await SaleService.GetSaleAsync();
        Console.WriteLine(itemToShow);
        allSales.Add(itemToShow);
        Console.WriteLine(allSales);
        salesToShow = allSales;
    }

}