@page "/SalesList"
@using SEP3_Tier1.Models
@using SEP3_Tier1.Data
@inject ISaleService SaleService

<h3>SalesList</h3>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Data</th>
        </tr> 
        </thead>
        <tbody>
        @foreach (var item in salesToShow) {
            <tr>
                <td>@item</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code{


    private IList<string> allSales = new List<string>();
    private IList<string> salesToShow = new List<string>();

    protected override async Task OnInitializedAsync() {
        string itemToShow = await SaleService.GetSaleAsync();
        Console.WriteLine(itemToShow);
        allSales.Add(itemToShow);
        Console.WriteLine(allSales);
        salesToShow = allSales;
    }

}